@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*--------------------------------------------------
Reset CSS
---------------------------------------------------*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*--------------------------------------------------
Variables
---------------------------------------------------*/

:root{
    --gap: 32px;
    --black: #000;
    --white: #fff;
    --green: #00341E;
}

/*--------------------------------------------------
Divers
---------------------------------------------------*/

.container {
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

/*--------------------------------------------------
Largeurs et colonnes
---------------------------------------------------*/

.gap{
    gap:var(--gap);
}

/*Desktop*/
.large-1 {
    width: calc(8.3333333333% - 11 * var(--gap) / 12);
}
.large-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
}
.large-3 {
    width: calc(25% - 3 * var(--gap) / 4);
}
.large-4 {
    width: calc(33.3333333333% - 2 * var(--gap) / 3);
}
.large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
}
.large-6 {
    width: calc(50% - 1 * var(--gap) / 2);
}
.large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
}
.large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
}
.large-9 {
    width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
}
.large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
}
.large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
}
.large-12 {
    width: calc(100% - 0 * var(--gap) / 1);
}

/*Tablets*/
@media all and (max-width: 700px) {
    .medium-1 {
        width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }
    .medium-2 {
        width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }
    .medium-3 {
        width: calc(25% - 3 * var(--gap) / 4);
    }
    .medium-4 {
        width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }
    .medium-5 {
        width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }
    .medium-6 {
        width: calc(50% - 1 * var(--gap) / 2);
    }
    .medium-7 {
        width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }
    .medium-8 {
        width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }
    .medium-9 {
        width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }
    .medium-10 {
        width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }
    .medium-11 {
        width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }
    .medium-12 {
        width: calc(100% - 0 * var(--gap) / 1);
    }
}
/*Smartphones*/
@media all and (max-width: 440px) {
    .small-1 {
        width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }
    .small-2 {
        width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }
    .small-3 {
        width: calc(25% - 3 * var(--gap) / 4);
    }
    .small-4 {
        width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }
    .small-5 {
        width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }
    .small-6 {
        width: calc(50% - 1 * var(--gap) / 2);
    }
    .small-7 {
        width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }
    .small-8 {
        width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }
    .small-9 {
        width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }
    .small-10 {
        width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }
    .small-11 {
        width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }
    .small-12 {
        width: calc(100% - 0 * var(--gap) / 1);
    }
}

/*--------------------------------------------------
Gap
---------------------------------------------------*/

.g100 {
    gap: 100px;
}
.g30 {
    gap: 30px;
}

.g20 {
    gap: 20px;
}

.g15 {
    gap: 15px;
}

.g10 {
    gap: 10px;
}

.g5 {
    gap: 5px;
}

/*--------------------------------------------------
Couleurs
---------------------------------------------------*/

.bgWhite {
    background-color: var(--white);
}

.bgBlack {
    background-color: var(--black);
}

.bgGreen {
    background-color: var(--green);
}

.cWhite {
    color: var(--white);
}

.cBlack {
    color: var(--black);
}

.cGreen {
    color: var(--green);
}

/*--------------------------------------------------
Fonts
---------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', sans-serif;
}

p, a, input{
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
}

.weight500 {
    font-weight: 500;
}

.weight600 {
    font-weight: 600;
}

.size20 {
    font-size: 20px;
}

.size24 {
    font-size: 24px;
}

.size28 {
    font-size: 28px;
}

.size40 {
    font-size: 40px;
}

.size60 {
    font-size: 60px;
}

/*--------------------------------------------------
Border
---------------------------------------------------*/

.border {
    border: 1px solid var(--green);
}

.borderT {
    border-top: 1px solid var(--green);
}

.borderB {
    border-bottom: 1px solid var(--green);
}

.borderL {
    border-left: 1px solid var(--green);
}

.borderR {
    border-right: 1px solid var(--green);
}

.bRadiusMax {
    border-radius: 9999px;
}


/*--------------------------------------------------
Width
---------------------------------------------------*/

.w100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

/*--------------------------------------------------
Positions
---------------------------------------------------*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/*--------------------------------------------------
Flex
---------------------------------------------------*/

.flex {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.flexColumn {
    flex-direction: column;
}

.alignStart {
    align-items: flex-start;
}

.alignEnd {
    align-items: flex-end;
}

.alignCenter {
    align-items: center;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyCenter {
    justify-content: center;
}

.flexWrap {
    flex-wrap: wrap;
}

/*--------------------------------------------------
General
---------------------------------------------------*/

/* Header */

header {
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(40px);
    height: 80px;
}

.logo img {
    width: 200px;
    object-fit: contain;
}

header input {
    background-image: url("assets/search.svg");
    background-repeat: no-repeat;
    background-position: 13px 11px;
    background-size: 25px;
    outline: none;
    padding: 12px 20px 12px 50px;
}

.searchContainer {
    height: 80px;
    padding: 0 20px;
}

.cartContainer {
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.cartContainer img {
    width: 30px;
}

/* Hero */

.hero {
    background-image: url("assets/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.hero div {
    margin-bottom: 100px;
}

.hero a {
    padding: 12px 20px;
}

/* Produits */

.products h2 {
    margin-bottom: 20px;
}

.card {
    border-radius: 20px;
}

.card img {
    object-fit: contain;
    display: block;
}

.textCard {
    padding: 20px 0;
}

.imageContainer {
    overflow: hidden;
}

.descContainer {
    top: -100%;
    left: 0;
    height: 100%;
    padding: 8px;
    background-color: rgba(0, 52, 30, 0.8);
    transition: top .4s ease;
}

.card:hover .descContainer {
    top: 0;
}

.card:hover .desc {
    transition: all 0.5s ease-out;
}

.buttonProduct {
    padding: 12px 20px;
    cursor: pointer;
}

.buttonProduct img {
    width: 35px;
    filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(180deg);
}

#cardContainer {
    row-gap: var(--gap);
    column-gap: var(--gap);
}

.searchCart {
    right: 0;
    top: 0;
}

/* Avantages */

.avantages div {
    gap: var(--gap);
    margin: 80px 0;
}

.avantages img {
    width: 50px;
    object-fit: contain;
}

/* Services */

.services div {
    margin: 80px 0;
}

.services h3 {
    margin-bottom: 20px;
}

/* Temoignages */

.temoignages img {
    width: 25px;
    object-fit: contain;
}

.note {
    margin-left: 5px;
}

.temoignageCard {
    margin-bottom: 50px;
}

.typeExperience {
    color: #797979;
}

/* Footer */

footer > div {
    padding: 50px 0;
}

footer img {
    width: 200px;
    object-fit: contain;
}

footer ul {
    list-style: none;
}

footer ul a {
    color: var(--black);
}

footer ul a:hover {
    text-decoration: underline;
}
